<!-- <link rel="stylesheet" href="styles/{{ styles[1] }}"> -->
<head>
   <link id="theme" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
</head>
<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">My Angular 2 App!</a>
    </div>
  </nav>
</header>
<main>
<div class="row">

  <div class="jumbotron">
    <child (notifyParent)="getNotification($event)"></child>
  </div>
</div>
<h1>Child message: {{message}}</h1>

<hr>

<button class="btn btn-success" (click)="callChild()">Noti My Child</button>
<span>Told my Child something: </span><input type="text" [(ngModel)]="childMessage">
<div class="jumbotron">
    <parent-child [name]="childMessage"></parent-child>
</div>



 </main>
<footer class="text-center">
  copyright &copy; 2016
</footer>
