<!-- <link rel="stylesheet" href="styles/{{ styles[1] }}"> -->
<head>
   <link id="theme" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
</head>
<header>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">My Angular 2 App!</a>
    </div>
  </nav>
</header>
<main>
<div class="row">
  <h1>{{message}}</h1>
  <div class="jumbotron">
    <a-component></a-component>
  </div>
  <div class="jumbotron">
    <b-component></b-component>
  </div>
</div>

 </main>
<footer class="text-center">
  copyright &copy; 2016
</footer>
